:root {
  --bg_light: hsl(0 0% 100%);
  --bg: hsl(0 0% 95%);
  --bg_dark: hsl(0 0% 90%);
  --bg_darker: hsl(0 0% 80%);

  --gray_100: rgba(0, 0, 0, 0.2);
  --gray_200: rgba(0, 0, 0, 0.4);

  --text: hsl(0 0% 5%);
  --text_muted: hsl(0 0% 30%);
  --text_secondary: hsl(0 0% 100%);
  --text_secondary_muted: hsl(0 0% 90%);

  --danger: hsl(0, 75%, 58%);
  --warning: hsl(60, 60%, 60%);
  --success: hsl(110, 45%, 62%);
  --orange_100 : hsl(39, 80%, 62%);

  --primary: hsl(199, 100%, 29%);
  --primary_muted: hsl(199, 35%, 29%);

  font-family: "Montserrat", sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  background-color: var(--bg_dark);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}